@import url("https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css");
:root {
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
  --letters: 7;
  --rows: 8;
}

:root, .light {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  /* new colors */
  --opacity-50: #f3f2f8;
  --color-absent: #a4aec4;
}
:root {
  /* original colors */
  --green: #6aaa64;
  --yellow: #c9b458;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  /* new colors */
  --purple: #21123b;
  --light-pink: #ffe6ea;
  --pink: #e06377;
  --brown: #a95c35;
  --green: #79b851;
  --yellow: #f3c237;
}

/* Theme Colors */
.dark {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  /* new colors */
  --color-absent: #3d4054;
  --opacity-50: #000000;
}
.contrast {
  --green: var(--orange);
  --yellow: var(--blue);
}
.aprilFools, .aprilFools .light, .aprilFools .dark {
  --yellow: var(--pink);
  --color-absent: var(--brown) !important;
  background: pink;
  --opacity-50: pink;
}
.aprilFools table.squares td {
  background: var(--light-pink);
  border-color: transparent;
}

/* Theme Settings */
.lightEnabled, .darkEnabled {
  border: 4px solid transparent;
}
body:not(.dark) .lightEnabled, .dark .darkEnabled {
  border-color: var(--yellow);
}
.contrastEnabled::after, .aprilFoolsEnabled::after {
  content: "Disabled";
}
.contrast .contrastEnabled::after, .aprilFools .aprilFoolsEnabled::after {
  content: "Enabled";
}

/*:root {
--color-absent: var(--color-tone-2);
--key-bg: var(--color-tone-4);
--key-bg-present: var(--color-present);
--key-bg-correct: var(--color-correct);
--key-bg-absent: var(--color-absent);
}*/
:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  /*touch-action: none;*/
  /* iOS/mobile device scroll fixes */
  touch-action: pan-y;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

body {
  background: var(--opacity-50);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* mobile viewport bug fix */
  position: fixed;
  height: -webkit-fill-available;
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
}

main {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--purple);
  color: whitesmoke;
}
header button, header h1 {
  font-size: 30px;
  padding: 6.5px;
  margin: 0;
}
div.icon {
  position: absolute;
  top: 5px;
}
div.icon button {
  color: #aaa;
  cursor: pointer;
  padding: 10px 7.5px;
  padding-bottom: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  background: transparent;
  border: none;
}
div.icon:first-child {
  left: 5px;
}
div.icon:last-child {
  right: 5px;
}
div.icon button.active {
  background: var(--opacity-50);
  color: var(--color-tone-1);
}

section.board {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  margin-top: 50px;
}
table.squares tbody {
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-gap: 5px;
  padding: 10px;
}
table.squares tr {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(var(--letters), 1fr);
}
table.squares td {
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  font-size: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* Start captions and screenshots */
table.squares.photo td {
  color: transparent !important;
}
table.squares.photo {
  transform: scale(1) !important;
  background: var(--opacity-50);
}
@media (max-height: 700px) {
  table.squares.fail {
    transform: scale(0.9) !important;
  }
}
table.squares caption {
  display: none;
  font-size: 20px;
  color: var(--color-tone-1);
}
table.squares caption strong {
  font-size: 30px;
}
table.squares.photo caption.title, table.squares.fail caption.answer {
  display: table-caption;
}
/* End captions and screenshots */
tr.current td {
  cursor: pointer;
}
button table.squares td {
  font-size: 18px;
}
@media (max-width: 420px) {
  table.squares td {
    font-size: 26px;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  section.keyboard .row {
    gap: 2px !important;
  }
}
@media (max-height: 620px) {
  table.squares td {
    font-size: 20px;
  }
}
td {
  background-color: var(--color-tone-7);
  border: 2px solid var(--color-tone-4);
  color: var(--color-tone-1);
}
tr.current td.current {
  border-color: var(--yellow) !important;
}
td[data-state="tbd"] {
  border: 2px solid var(--color-tone-3);
  animation: pop .3s;
}
:root {
  --duration: 0.5s;
}
table.photo {
  --duration: 0s !important;
}
td.filled, button.filled {
  --half: calc(var(--duration) / 12);
  animation-name: fill;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
}
.filled[data-state="absent"] {
  animation-name: fill, absent;
}
.filled[data-state="present"] {
  animation-name: fill, present;
}
.filled[data-state="correct"] {
  animation-name: fill, correct;
}
@keyframes absent {100% {background: var(--color-absent);}}
@keyframes present {100% {background: var(--yellow);}}
@keyframes correct {100% {background: var(--green);}}
@keyframes fill {
  0% {
    border: none;
    transform: rotateX(0);
  }
  50% {
    transform: scale(1.2);
    transform: rotateX(-90deg);
  }
  100% {
    color: white;
    border: none;
    transform: rotateX(0);
  }
}
td.filled:nth-child(2) {animation-delay: calc(1 * var(--half));}
td.filled:nth-child(3) {animation-delay: calc(2 * var(--half));}
td.filled:nth-child(4) {animation-delay: calc(3 * var(--half));}
td.filled:nth-child(5) {animation-delay: calc(4 * var(--half));}
td.filled:nth-child(6) {animation-delay: calc(5 * var(--half));}
td.filled:nth-child(7) {animation-delay: calc(6 * var(--half));}
td.filled:nth-child(8) {animation-delay: calc(7 * var(--half));}

tr.current.invalid {
  animation: Shake 600ms;
}
@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
@keyframes pop {
  from {
    transform:scale(.8);
    opacity:0
  }
  40% {
    transform:scale(1.1);
    opacity:1
  }
}

section.keyboard {
  height: var(--keyboard-height);
  width: 100%;
  background: var(--color-tone-7);
  border-radius: 10px 10px 0 0;
  padding: 5px 15px;
  user-select: none;
  overflow: hidden;
}
.dark section.keyboard {
  background: var(--color-tone-3);
}
section.keyboard .row {
  display: flex;
  gap: 5px;
  margin: 10px auto;
  justify-content: center;
}
section.keyboard .row .key {
  font-size: 20px;
  background: var(--color-tone-4);
  border-radius: 5px;
  height: 50px;
  min-width: 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--color-tone-1);
  padding: 0;
}
.dark section.keyboard .row .key {
  background: var(--color-tone-2);
}
/*section.keyboard .row .key*/ .dim {
opacity: 0.5;
}
section.keyboard .row .half {
  flex: 0.5;
}

aside {
  position: fixed;
  z-index: 2;
  top: 50px;
  left: calc(50% - 250px);
  width: 100%;
  max-width: 500px;
  height: calc(100% - 50px);
  background: var(--opacity-50);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: var(--color-tone-1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, background 0.3s, color 0.3s;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 500px) {
  aside {
    left: 0;
  }
}
aside.show {
  opacity: 1;
  visibility: visible;
}
aside h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 26px;
}
aside p {
  margin: 10px 0;
  font-size: 16px;
}
aside p a {
  color: var(--color-tone-1);
}
aside h2 {
  margin: 10px 0;
  font-size: 20px;
}
aside div h2 span.status:after {
  content: "not started";
  color: var(--orange);
}
aside div.started h2 span.status:after {
  content: "in-progress";
  color: var(--yellow);
}
aside div.complete h2 span.status:after {
  content: "Complete!";
  color: var(--green);
}
aside div.fail h2 span.status:after {
  content: "Failed";
  color: red;
}

aside button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: var(--color-tone-1);
  cursor: pointer;
  background: #ffffff;
  /*#eeeef0*/
}
div.bundle {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
}
div.bundle h2 {
  margin-top: 0;
}
.dark aside button, .dark div.bundle {
  background: #1d1d1f;
}
.dark div.bundle button, div.bundle button.dark {
  background: #59606a;
}
div.bundle button, div.bundle button.light {
  background: #eeeef0;
}


aside span.halfButtons {
  display: flex;
}
aside span.halfButtons button {
  width: 50%;
  display: inline-block;
  margin: 0 3px;
}
aside span.visualButtons button {
  padding: 8px;
  cursor: auto;
}
aside span.gradientButtons button {
  background: linear-gradient(var(--color-tone-4) 95%,var(--green) 100%);
}
aside span.halfButtons button:first-child {
  margin-left: 0;
}
aside span.halfButtons button:last-child {
  margin-right: 0;
}
aside button strong {
  display: block;
  font-size: 26px;
  margin-bottom: 5px;
}
aside#home div span.completeButtons, aside#home div.complete button.play, aside#home div.fail button.play {
  display: none;
}
aside#home div.complete span.completeButtons, aside#home div.fail span.completeButtons {
  display: flex;
}
aside button:before {
  font-weight: bold;
  font-family: arial, "Font Awesome 6 Pro", "Font Awesome 6 Brands";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
aside button.play:before {
  content: "\f144  Play Now";
}
aside button.board:before {
  content: "\e195  View Board";
}
aside button.image:before {
  content: "\e164  Save Image";
}
aside button.info:before {
  content: "\f05a  Info";
}
aside button.openStats:before {
  content: "\e473  See Stats and Share";
}
aside button.share:before {
  content: "\e09a";
}
aside button.copy:before {
  content: "\f0c5";
}
aside button.email:before {
  content: "\f0e0";
}
aside button.telegram:before {
  content: "\f2c6";
}
aside button.twitter:before {
  content: "\f099";
}
aside button.facebook:before {
  content: "\f39e";
}
aside button.openStats, aside button.info, aside button.share {
  color: white;
}
aside button.telegram, aside button.twitter, aside button.facebook, aside button.email {
  color: white;
  font-size: 20px;
}
aside button.share, aside button.openStats {
  background: var(--green);
}
aside button.openStats {
  width: 100% !important;
}
aside button.info {
  background: var(--yellow);
}
aside button.twitter {
  background: rgb(29, 155, 240);
}
aside button.telegram {
  background: #179cde;
  font-size: 24px;
}
aside button.email {
  background: var(--gray);
}
aside button.facebook {
  background: #39569c;
}
aside button.copy {
  background: var(--color-tone-4);
}

/* Move arc to not obscure keyboard */
#arc-widget {
  bottom: auto !important;
  left: auto !important;
  right: 0 !important;
  top: 0 !important;
}

/* Alerts */
div#alertBox {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--purple);
  z-index: 3;
  border-radius: 0 0 10px 10px;
}
div#alertBox span {
  display: block;
  overflow: hidden;
  width: calc(100% - 20px);
  max-width: 480px;
  background: var(--opacity-50);
  color: var(--color-tone-1);
  margin: 10px auto;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  height: auto/*35px*/;
}

/* Loading Screen */
.loading body {
  overflow: hidden !important;
}
.loading div.loadScreen {
  bottom: 0;
  border-radius: 0;
}
@media screen and (orientation:landscape) and (max-height: 500px) and (min-width: 500px) {
  div.landscape {
    bottom: 0 !important;
    border-radius: 0 !important;
  }
}
div.landscape {
  transition: bottom 0.5s !important;
  z-index: 4;
}
div.loadScreen, div.landscape {
  position: fixed;
  z-index: 3;
  bottom: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--purple);
  color: white;
  text-align: center;
  transition: bottom 0.5s 0.5s;
  border-radius: 15px 15px 0 0;
  font-family: arial;
  overflow: hidden;
}
div.loadScreen img, div.landscape i {
  width: 150px;
  font-size: 150px;
  margin-top: 150px;
  border-radius: 5px;
  box-shadow: 0 0 50px #99999999;
  animation: spinner 4s linear infinite;
  border-radius: 20%;
}
div.landscape i {
  margin-top: 50px;
  box-shadow: none;
}
div.loadScreen h1, div.landscape h1 {
  margin-top: 30px;
  font-size: 24pt;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(180deg) scale(1.05);
  }
  12% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  60% {
    transform: rotate(360deg) scale(1.05);
  }
  62% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
